body{
  color:rgb(0, 0, 0);
  background-color: rgb(255,255,255);
  background-image: url("../images/pinguino.jpg");
  background-repeat: no-repeat;
  background-position: center 0%;
}

a:link{
  color: #000099;
}
a:visited{
  color:#990099;
}

a:active{
  color:#000099;
}
